<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/share/new">New share</a>
    <ul>
        <% for(let share of shares) { %>
            <li><a href="/share/<%= share.id %>"><%= share.id || 'Untitled' %></a></li>
        <% } %>
    </ul>
    <a href="/">Retour</a>
</body>
</html>